@use "src/shared/styles/variables.scss";

.app--dark {
    .app-notificator {
        &__cleaner {
            border-color: rgba(variables.$color-dark-input-placeholder, 0.5);
            background-color: variables.$color-dark-input-background;

            &:hover {
                border-color: variables.$color-white;
            }
        }
    }
}
