.app-navbar {
    &__item {
        align-items: center;
        display: flex;
        cursor: pointer;
        flex-grow: 0;
        flex-shrink: 0;
        line-height: 1.5;
        padding: 0.5rem 0.75rem;
        position: relative;
        color: #fff;

        transition: background-color 0.125s ease-in-out, color 0.125s ease-in-out;

        &:not(&--disabled):not(&--active):not(&--single) {
            &:hover {
                color: #fff;
                background-color: rgba(0, 0, 0, 0.125);
            }
            &:active {
                background-color: rgba(0, 0, 0, 0.25);
            }
        }

        &:hover {
            color: #fff;
        }

        &--disabled:not(&--single) {
            cursor: not-allowed;
        }

        &--active:not(&--single) {
            cursor: default;
            color: #000;
            background-color: #fff;
        }
    }
}
