.app--dark {
    .app-input {
        label {
            color: white;
        }
        input, textarea {
            background-color: #585858;
            color: white;

            &::-webkit-input-placeholder {
                color: #d1cfcf;
            }
        }
    }
}
