.app-notificator {
    width: 17.5%;
    margin: 0.5rem;
    position: absolute;
    z-index: 100;
    right: 0;

    &__item, .app-notification {
        max-height: 7.25rem;
        overflow: auto;
        max-width: 17.5rem;

        &-enter {
            opacity: 0;
        }
        &-enter-active {
            opacity: 1;
            transition: opacity 0.5s ease-in;
        }
        &-exit {
            opacity: 1;
        }
        &-exit-active {
            opacity: 0;
            transition: opacity 0.5s ease-in;
        }
    }
}
