.app--dark {
    .app-input {
        label {
            color: white;
        }
        input,
        textarea {
            background-color: #585858;
            color: white;

            &::-webkit-input-placeholder {
                color: #d1cfcf;
            }

            &[type="date"]::-webkit-calendar-picker-indicator {
                background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0id2hpdGUiIGNsYXNzPSJiaSBiaS1jYWxlbmRhciIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNMy41IDBhLjUuNSAwIDAgMSAuNS41VjFoOFYuNWEuNS41IDAgMCAxIDEgMFYxaDFhMiAyIDAgMCAxIDIgMnYxMWEyIDIgMCAwIDEtMiAySDJhMiAyIDAgMCAxLTItMlYzYTIgMiAwIDAgMSAyLTJoMVYuNWEuNS41IDAgMCAxIC41LS41ek0xIDR2MTBhMSAxIDAgMCAwIDEgMWgxMmExIDEgMCAwIDAgMS0xVjRIMXoiLz4KPC9zdmc+");
            }
        }
    }

    .title,
    .subtitle {
        color: white;
    }

    .button:not(.is-outlined) {
        &:not([disabled]) {
            &.is-danger {
                background-color: #b12e48;
                &:hover {
                    background-color: #f03a5f;
                }
            }
            &.is-success {
                background-color: #287a44;
                &:hover {
                    background-color: #3ec46d;
                }
            }
            &.is-info {
                background-color: #286c99;

                &:hover {
                    background-color: #238cd1;
                }
            }
            &.is-warning {
                background-color: #9d8426;
                color: white;

                &:hover {
                    background-color: #ffdb4a;
                    color: black;
                }
            }
        }
        &.is-default {
            background-color: #6a6a6a;
            color: white;

            &:hover:not([disabled]) {
                background-color: #fff;
                color: #363636;
            }
        }
    }

    .app-dropdown {
        span.dropdown-item {
            color: gray;
            text-align: center;
        }

        &__label {
            background-color: #585858;
            color: white;

            &--default span {
                color: #d1cfcf;
            }

            .app-icon {
                color: rgb(201, 201, 201);
                &:hover {
                    color: white;
                }
            }
        }

        .dropdown-content {
            background-color: rgb(88, 88, 88);
            border: 1px solid #1c81bd;

            box-shadow: 0 0.5em 1em -0.125em rgb(255, 255, 255, 0.3), 0 0px 0 1px rgb(10, 10, 10, 0.02);
        }

        &-item {
            color: white !important;
            &:hover {
                background-color: rgba(0, 0, 0, 0.35);
            }
            &:active {
                background-color: rgba(0, 0, 0, 0.5);
            }

            &.is-active {
                background-color: #234f95;
                color: #fff;
            }
        }
    }

    .app-search input[type="search"] {
        background-color: #585858;
        color: white;

        &::-webkit-input-placeholder {
            color: #d1cfcf;
        }
    }

    .app-anchor {
        &:not(&--unhoverable):hover {
            text-decoration: underline;
            color: #5c9bff;
        }
    }
}
