@use "./variables.scss";

.app--dark {
    .bbr-input {
        label {
            color: variables.$color-white;
        }
        input,
        textarea {
            background-color: variables.$color-dark-input-background;
            color: variables.$color-white;

            &::-webkit-input-placeholder {
                color: variables.$color-dark-input-placeholder;
            }

            &[type="date"]::-webkit-calendar-picker-indicator {
                background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0id2hpdGUiIGNsYXNzPSJiaSBiaS1jYWxlbmRhciIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNMy41IDBhLjUuNSAwIDAgMSAuNS41VjFoOFYuNWEuNS41IDAgMCAxIDEgMFYxaDFhMiAyIDAgMCAxIDIgMnYxMWEyIDIgMCAwIDEtMiAySDJhMiAyIDAgMCAxLTItMlYzYTIgMiAwIDAgMSAyLTJoMVYuNWEuNS41IDAgMCAxIC41LS41ek0xIDR2MTBhMSAxIDAgMCAwIDEgMWgxMmExIDEgMCAwIDAgMS0xVjRIMXoiLz4KPC9zdmc+");
            }
        }

        [disabled] {
            color: variables.$color-dark-input-disabled-color;
            background-color: variables.$color-dark-input-disabled-background;
        }
    }

    .title,
    .subtitle {
        color: variables.$color-white;
    }

    .button:not(.is-outlined) {
        &:not([disabled]) {
            &.is-danger {
                background-color: variables.$color-dark-danger;
                &:hover {
                    background-color: variables.$color-dark-danger-hover;
                }
            }
            &.is-success {
                background-color: variables.$color-dark-success;
                &:hover {
                    background-color: variables.$color-dark-success-hover;
                }
            }
            &.is-info {
                background-color: variables.$color-dark-info;

                &:hover {
                    background-color: variables.$color-dark-info-hover;
                }
            }
            &.is-warning {
                background-color: variables.$color-dark-warn;

                &:hover {
                    background-color: variables.$color-dark-warn-hover;
                }
            }
            &.is-primary {
                background-color: variables.$color-dark-primary;

                &:hover {
                    background-color: variables.$color-dark-primary-hover;
                }
            }
            &.is-ghost {
                color: variables.$color-dark-ghost;

                &:hover {
                    color: variables.$color-dark-ghost-hover;
                }
            }

            &.is-light {
                color: variables.$color-white;
            }
        }
        &.is-default {
            background-color: variables.$color-dark-input-background;
            color: variables.$color-white;

            &:hover:not([disabled]) {
                background-color: variables.$color-white;
                color: variables.$color-black;
            }
        }
    }

    .file {
        &.is-success .file-cta {
            background-color: variables.$color-dark-success;
            &:hover {
                background-color: variables.$color-dark-success-hover;
            }
        }
        &.is-danger .file-cta {
            background-color: variables.$color-dark-danger;
            &:hover {
                background-color: variables.$color-dark-danger-hover;
            }
        }
        &.is-info .file-cta {
            background-color: variables.$color-dark-info;

            &:hover {
                background-color: variables.$color-dark-info-hover;
            }
        }
        &.is-warning .file-cta {
            background-color: variables.$color-dark-warn;

            &:hover {
                background-color: variables.$color-dark-warn-hover;
            }
        }
        &.is-primary .file-cta {
            background-color: variables.$color-dark-primary;

            &:hover {
                background-color: variables.$color-dark-primary-hover;
            }
        }
    }

    .bbr-dropdown {
        &__label {
            background-color: variables.$color-dark-input-background;
            border-color: variables.$color-dark-input-placeholder;
            color: variables.$color-white;

            &:hover {
                border-color: variables.$color-white;
            }

            &--default span {
                color: variables.$color-dark-input-placeholder !important;
            }

            .bbr-icon {
                color: variables.$color-dark-input-placeholder;
                &:hover {
                    color: variables.$color-white !important;
                }
            }
        }

        .dropdown-content {
            background-color: variables.$color-dark-input-background;
            border: 1px solid variables.$color-dark-input-placeholder;

            box-shadow:
                0 0.5em 1em -0.125em rgb(255, 255, 255, 0.15),
                0 0px 0 1px rgb(10, 10, 10, 0.02);
        }

        &-item {
            color: variables.$color-white !important;
            &:hover {
                background-color: rgba(variables.$color-black, 0.35);
            }
            &:active {
                background-color: rgba(variables.$color-black, 0.5);
            }

            &.is-active {
                background-color: variables.$color-dark-info;
                color: variables.$color-white;
            }
        }
    }

    .bbr-search input[type="search"] {
        background-color: variables.$color-dark-input-background;
        color: variables.$color-white;

        &::-webkit-input-placeholder {
            color: variables.$color-dark-input-placeholder;
        }
    }

    .bbr-anchor {
        &:not(&--unhoverable):hover {
            text-decoration: underline;
            color: variables.$color-dark-info-hover;
        }
    }

    .bbr-table {
        background-color: transparent;
        color: inherit;

        thead td,
        thead th {
            color: inherit;
        }

        &.is-striped tbody tr:not(.is-selected):nth-child(even) {
            background-color: variables.$color-dark-input-background;
        }
    }

    .bbr-tabs {
        ul {
            border-bottom-color: variables.$color-dark-input-background;
        }
        &__tab {
            &.is-active a {
                color: variables.$color-dark-info-hover;
                border-bottom-color: variables.$color-dark-info-hover;
            }
            &:not(.is-active) a {
                color: inherit;
                border-bottom-color: transparent;

                &:hover {
                    border-bottom-color: variables.$color-dark-input-placeholder;
                }
            }
        }
    }

    .box {
        background-color: variables.$color-dark-input-background;
        color: variables.$color-white;
    }

    strong {
        color: inherit;
    }
    code {
        background-color: rgb(30 30 30 / 75%);
    }
}
