/* transition */
$transition-duration: 0.15s;
$transition-function: ease-in;

/* box style */
$border-radius: 4px;

/* animation */
$animation-duration: 0.3s;

/* colors */

$color-white: #fff;
$color-black: #000;
$color-grey: #808080;
$color-blue-sky: #53befd; // react

$color-info: #3e8ed0;
$color-success: #48c78e;
$color-danger: #f14668;

$color-info-hover: #3488ce;
$color-success-hover: #3ec487;
$color-danger-hover: #f03a5f;

/* dark */
$color-dark-background: #1e1e1e;
$color-dark-navbar: #234f95;

$color-dark-warn: #cc8b00;
$color-dark-danger: #b12e48;
$color-dark-success: #287a44;
$color-dark-info: #286c99;
$color-dark-primary: #006e5e;
$color-dark-ghost: #5d7aff;

$color-dark-warn-hover: #f9aa00;
$color-dark-danger-hover: #f03a5f;
$color-dark-success-hover: #3ec46d;
$color-dark-info-hover: #238cd1;
$color-dark-primary-hover: #00483d;
$color-dark-ghost-hover: #485fc7;

$color-dark-input-background: #585858;
$color-dark-input-placeholder: #d1cfcf;
$color-dark-input-disabled-background: #292929;
$color-dark-input-disabled-color: #b5b5b5;
