.app-navbar {
    &__brand {
        margin: 0 0.25rem 0 0.75rem;
        align-items: center;
        display: flex;
    }
    &__logo {
        display: flex;
        align-items: center;
        padding: 0.25rem 0.5rem;

        &:hover {
            background-color: rgba(0, 0, 0, 0.125);
            border-radius: 4px;
        }

        .tanuki-logo .tanuki-left-ear,
        .tanuki-logo .tanuki-right-ear,
        .tanuki-logo .tanuki-nose {
            fill: #e24329;
            transition: all 0.8s;
        }

        .tanuki-logo .tanuki-left-eye,
        .tanuki-logo .tanuki-right-eye {
            fill: #fc6d26;
            transition: all 0.8s;
        }

        .tanuki-logo .tanuki-left-cheek,
        .tanuki-logo .tanuki-right-cheek {
            fill: #fca326;
            transition: all 0.8s;
        }
    }
    &__name {
        color: white;
        margin-left: 0.5rem;
        font-size: 1.25rem;
    }
}
