.app-anchor {
    text-decoration: none;
    color: inherit;

    & > .app-icon {
        &--right {
            margin-left: 0.5rem;
        }
        &--left {
            margin-right: 0.5rem;
        }
    }

    &:hover {
        text-decoration: underline;
    }
}
