@use "src/shared/styles/variables.scss";

.app {
    height: 100%;
    overflow: hidden overlay;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    transition: variables.$transition-duration variables.$transition-function;
    transition-property: color, background-color;

    &__navbar {
        height: 10%;
        max-height: 3.25rem;
    }
    &__content {
        flex-grow: 1;
        flex-shrink: 0;
        width: 90%;
    }
    &__footer {
        min-height: 5%;
        flex-shrink: 0;
    }

    &--dark {
        color: variables.$color-white;
        background-color: variables.$color-dark-background;
    }
    &--loading {
        overflow: hidden;
    }
}
