@use "../../../../shared/styles/variables.scss" as variables;

.app-comment {
    margin-right: 0;
    scroll-margin-top: 15rem;

    &--highlighted {
        animation-name: highlighted;
        animation-duration: 3.5s;
    }

    @keyframes highlighted {
        50% {
            border-color: rgb(50, 115, 220, 0.75);
            background-color: rgb(66, 132, 239, 0.15);
        }
    }

    [data-tippy-container] {
        position: relative;
    }

    /* react transition styles */
    &-enter {
        opacity: 0;
    }
    &-enter-active {
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    &-exit {
        opacity: 1;
    }
    &-exit-active {
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }
}

.tippy {
    padding: 0.25rem;
    width: 5rem;

    border-radius: 4px;
    background: rgba(0, 0, 0, 0.875);
    color: white;
    font-size: 0.75rem;

    position: absolute;
    z-index: 1;
    left: -115%;

    text-align: center;
    transition: variables.$transition-duration variables.$transition-function opacity;

    opacity: 0;

    &.fade-in {
        animation: fadeIn variables.$animation-duration variables.$transition-function forwards;
        animation-delay: 0.1s;
    }

    &.fade-out {
        animation: fadeOut variables.$animation-duration variables.$transition-function forwards;
    }

    &::after {
        content: " ";
        position: absolute;
        left: 100%;
        top: calc(50% - 0.25rem);

        width: 0;
        height: 0;

        border-style: solid;
        border-width: 0.25rem 0 0.25rem 0.25rem;
        border-color: transparent transparent transparent rgba(0, 0, 0, 0.875);

        transition: variables.$transition-duration variables.$transition-function opacity;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 0;
        }
    }
}
