@use "src/shared/styles/variables.scss";

.app--dark {
    .app-modal .modal-card {
        .field {
            input,
            textarea {
                background-color: variables.$color-dark-input-background;
                color: variables.$color-white;

                &::-webkit-input-placeholder {
                    color: variables.$color-dark-input-placeholder;
                }
            }

            .help.is-danger {
                color: #ffcccc;
            }
        }
    }
}
